// Colours
$black:         #2e2e2e;
$cream:         #fcfbf5;
$green:         #b2ca9d;
$green-dark:    #4d6638;
$grey-light:    #808080;
$grey:          #4f4f4f;
$pink-light:    #f8d8d8;
$pink:          #f0acac;
$pink-dark:     #835151;
$white:         #ffffff;
